@use 'themes';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// $active-theme: light-warm-tones;
$active-theme: light-minimal;

:root {
  @include themes.apply-theme($active-theme);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-color-body);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


.main-container {
  width: 100%;
  max-width: 860px;

  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  // border-radius: 4px; //soften corners ever so slightly
}

@media (max-width: 960px) {
  .main-container {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: none;
    height: auto;
    overflow: hidden;
  }
}

// .main-container > h1 {
//   font-size: 3.5em;
//   margin-bottom: 0.5em;
//   text-align: center;
// }

// .main-container > p {
//   font-size: 1.2em;
//   margin-bottom: 1em;
//   text-align: center;
// }

// .main-container > div > img {
//   border-radius: 8px;
//   width: 100%;
//   height: 450px;
//   object-fit: cover;
// }
