
.post-container {
  // background-color: var(--background-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--text-color);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  padding: var(--post-padding);

  margin-inline: auto;
}

.post-container > p > img {
  max-width: 100%;
  border-radius: 8px;
}


.post-title {
  // font-size: 3.5em;
  margin-bottom: 8px;
  margin-top: 0;
  // text-align: center;
}

.post-date {
  font-size: 0.9em;
  color: var(--text-color-secondary);
  margin-top: -10px;
  margin-bottom: 40px;
}
